@use '../core/functions.scss' as *;

.header {
  background: var(--clr-top-main-bg);
  height: 235px;
  border-radius: 0px 0px 20px 20px;

  @media screen and (min-width: 620px) {
    height: 244px;
  }

  &__content {
    padding: rem(36) rem(25);

    @media screen and (min-width: 620px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (min-width: 1100px) {
      padding: rem(36) rem(85);
    }

    h1 {
      font-size: rem(25);
      color: var(--clr-white);
      line-height: rem(29);
      font-weight: bold;

      @media screen and (min-width: 620px) {
        font-size: rem(34);
      } 
    }

    p {
      font-size: rem(15);
      font-weight: bold;
      line-height: rem(18);
      color: var(--clr-data-small);

      &.followers {
        border-bottom: 2px solid hsla(228, 25%, 27%, 1);
        margin-top: rem(6);
        padding-bottom: rem(22);

        @media screen and (min-width: 620px) {
          border-bottom: 0;
          padding-bottom: 0;
          margin-top: rem(10);
        }
      }
    }

    .theme-switcher {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem(16) 0;

      p {
        margin-right: rem(15);
      }

      button {
        height: 24px;
        width: 48px;
        border-radius: 12px;
        border: none;
        background: linear-gradient(to left, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
        position: relative;

        &.light-theme::before {
          left: calc(100% - 21px);
          background: white;
        }

        &::before {
          content: '';
          height: 18px;
          width: 18px;
          background: var(--clr-top-main-bg);
          position: absolute;
          border-radius: 50%;
          top: 50%;
          transform: translateY(-50%);
          left: 3px;
          transition: left 0.2s ease, background-color 0.2s ease;
        }
      }
    }
  }
}