*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, 
a {
  cursor: pointer;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background: var(--clr-main-bg)
}